*~
*pyc
.#*
*#

# Ignore the tempoary NCBI taxonomy files
test/taxonomy/*.tar.gz
test/taxonomy/*.dmp.gz
test/taxonomy/readme.txt
# This includes flag files created by kraken
test/taxonomy/accmap.dlflag
test/taxonomy/nucl_est.accession2taxid
test/taxonomy/nucl_gb.accession2taxid
test/taxonomy/nucl_gss.accession2taxid
test/taxonomy/nucl_wgs.accession2taxid
test/taxonomy/taxdump.dlflag
test/taxonomy/taxdump.untarflag
# Ignore files created during test
test/building_db/*
